<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
</head>
<body>

<div layout:fragment="content">
  <div class="row mt-3" th:object="${detail}">
    <div class="input-group mb-3">
      <span class="input-group-text">Title</span>
      <input type="text" class="form-control" th:field="*{title}" placeholder="Title..." readonly>
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
      <div id="error-title" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Content</span>
      <textarea class="form-control" th:field="*{content}" placeholder="Content..." rows="10" readonly></textarea>
      <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
      <div id="error-content" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Writer</span>
      <input type="text" class="form-control" th:field="*{writer.memberId}" placeholder="Writer..." readonly>
      <div id="error-writer" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">postDate</span>
      <input type="text" class="form-control" th:value="${#temporals.format(detail.postDate, 'yyyy-MM-dd HH:mm')}" placeholder="postDate..." readonly>
      <div id="error-postDate" class="error-message"></div>
    </div>

    <div th:if="${detail.upfiles != null and !#lists.isEmpty(detail.upfiles)}">
      <div th:each="file : ${detail.upfiles}">
        <div th:if="${file != null}">
          <div th:if="${file.isImage == true}">
            <img th:src="@{${file.thumbFileName}}">
            <div th:text="${file.originalFileName}"></div>
          </div>
          <div th:if="${file.isImage != true}">
            <div th:text="${file.originalFileName}"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:if="${detail.upfiles == null or #lists.isEmpty(detail.upfiles)}">
      <div>
        <p>첨부파일이 없습니다.</p>
      </div>
    </div>

    <div class="my-4">
      <div class="float-end">
        <a th:href="@{/board/list}" class="btn btn-primary btn-lg">목록으로</a>
        <!--수정하기, 답글달기 등-->
      </div>
    </div>

  </div>

</div>
<script layout:fragment="script" th:inline="javascript">

</script>
</body>
</html>