<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
</head>
<body>

<div layout:fragment="content">
  <h1>게시판</h1>
  <button type="button" class="btn btn-secondary btn-lg d-flex float-end"
          th:onclick="|location.href='@{/board/register}'|">글쓰기</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board : ${boards}">
        <td th:text="${board.boardNo}">번호</td>
        <td>
          <div th:style="|margin-left: calc(${board.step} * 20px)|">
            <span th:if="${board.step > 0}">👉</span>
            <a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.title}">제목</a>
          </div>
        </td>
        <td th:text="${board.writer}">작성자</td>
        <td th:text="${#dates.format(board.postDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
        <td th:text="${board.readCount}">조회수</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>