<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
</head>
<body>

<div layout:fragment="content">
  <h1>게시판</h1>
  <div th:if="${error}" class="alert alert-danger" role="alert">[[${error}]]</div>
  <button type="button" class="btn btn-secondary btn-lg d-flex float-end"
          th:onclick="|location.href='@{/commboard/register}'|">글쓰기</button>

  <!-- 검색 : 검색결과도 페이징해서 와야 함... -->
  <form action="/commboard/list" method="get">
    <select class="form-select" name="type">
      <!--<option value="">=== 검색타입 === </option>-->
      <option value="t" th:selected="${pagingRequestDTO.type == 't'}">제목</option>
      <option value="c" th:selected="${pagingRequestDTO.type == 'c'}">내용</option>
      <option value="w" th:selected="${pagingRequestDTO.type == 'w'}">작성자</option>
      <option value="tc" th:selected="${pagingRequestDTO.type == 'tc'}">제목+내용</option>
      <option value="tcw" th:selected="${pagingRequestDTO.type == 'tcw'}">제목+내용+작성자</option>
    </select>
    <input type="text" class="form-control" name="keyword" placeholder="검색어 입력..." th:value="${pagingRequestDTO.keyword}">
    <button type="submit" class="btn btn-primary">검색</button>
    <button type="reset" class="btn btn-primary">초기화</button>
  </form>


  <table class="table table-hover">
    <thead>
    <tr>
      <th>글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(responseDTO.dtoList)}"><td colspan="8" class="text-center">검색결과없음</td></tr>
    <tr th:if="${!#lists.isEmpty(responseDTO.dtoList)}" th:each="board : ${responseDTO.dtoList}">
      <td th:text="${board.boardNo}">번호</td>
      <td>
        <!-- 삭제된 글 표시 -->
        <span th:if="${board.isDelete == 'Y'}" style="color:gray;">[삭제된 글입니다]</span>
        <div th:if="${board.isDelete != 'Y'}" th:style="|margin-left: calc(${board.step} * 20px)|">
          <span th:if="${board.step > 0}">↳</span>
          <a th:href="|@{/commboard/viewBoard(boardNo=${board.boardNo})}&${pagingRequestDTO.getLink()}|" th:text="${board.title}">제목</a>
        </div>
      </td>
      <td th:text="${board.writer}">작성자</td>
      <td th:text="${#temporals.format(board.postDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
      <td th:text="${board.readCount}">조회수</td>
    </tr>
    </tbody>
  </table>
  <!-- ◆◆◆ 페이지영역 ◆◆◆ -->
  <div class="paging">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${responseDTO.pageNo == 1} ? 'disabled'">
        <a class="page-link" th:href="@{/commboard/list(pageNo=1)}">첫페이지</a></li>

      <li class="page-item" th:classappend="${!responseDTO.prev} ? 'disabled'">
        <a class="page-link"
           th:href="@{/commboard/list(pageNo=${responseDTO.start - 1})}">Prev</a></li>

      <div th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
        <li th:class="page-item" th:classappend="${i eq responseDTO.pageNo} ? active : ''">
          <a class="page-link" th:href="|@{/commboard/list(pageNo=${i})}&${pagingRequestDTO.generateLinkExceptPageNo()}|" th:text="${i}"></a></li>
      </div>

      <li class="page-item" th:classappend="${!responseDTO.next} ? 'disabled'">
        <a class="page-link" th:href="@{/commboard/list(pageNo=${responseDTO.end+1})}">Next</a></li>

      <li class="page-item" th:classappend="${responseDTO.end * responseDTO.pagingSize >= responseDTO.total} ? 'disabled'"> <!--th:if="${responseDTO.next}"-->
        <a class="page-link" th:href="@{/commboard/list(pageNo=${responseDTO.last})}">마지막페이지</a></li> <!--responseDTO.start+responseDTO.pagingSize-->
    </ul>
  </div>
</div>
</body>
</html>