<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
  <link rel="stylesheet" th:href="@{/css/commViewBoard.css}">
</head>
<body>

<div layout:fragment="content">
  <div class="row mt-3" th:object="${detail}">
    <div class="input-group mb-3">
      <span class="input-group-text">boardNo</span>
      <input type="text" class="form-control" th:field="*{boardNo}" placeholder="boardNo..." readonly>
      <div th:if="${#fields.hasErrors('boardNo')}" th:errors="*{boardNo}"></div>
      <div id="error-boardNo" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Title</span>
      <input type="text" class="form-control" th:field="*{title}" placeholder="Title..." readonly>
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
      <div id="error-title" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Content</span>
      <textarea class="form-control" th:field="*{content}" placeholder="Content..." rows="10" readonly></textarea>
      <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
      <div id="error-content" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Writer</span>
      <input type="text" class="form-control" th:field="*{writer.memberId}" placeholder="Writer..." readonly>
      <div id="error-writer" class="error-message"></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">postDate</span>
      <input type="text" class="form-control" th:value="${#temporals.format(detail.postDate, 'yyyy-MM-dd HH:mm')}" placeholder="postDate..." readonly>
      <div id="error-postDate" class="error-message"></div>
    </div>

    <div th:if="${detail.upfiles != null and !#lists.isEmpty(detail.upfiles)}">
      <div th:each="file : ${detail.upfiles}">
        <div th:if="${file != null}">
          <div th:if="${file.isImage == true}">
            <img th:src="@{${file.thumbFileName}}">
            <div th:text="${file.originalFileName}"></div>
          </div>
          <div th:if="${file.isImage != true}">
            <div th:text="${file.originalFileName}"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:if="${detail.upfiles == null or #lists.isEmpty(detail.upfiles)}">
      <div>
        <p>첨부파일이 없습니다.</p>
      </div>
    </div>

    <!-- 좋아요 -->
    <div class="mb-2">
      <i id="heart-icon" class="fa-regular fa-heart" style="cursor: pointer; color:red;"></i>
      <span id="like-count">0</span>
    </div>
    <div id="like-people"></div>


    <div class="my-4">
      <div class="float-end">
        <a th:href="|@{/commboard/list}?${pagingRequestDTO.link}|" class="btn btn-primary btn-lg">목록으로</a>
        <a th:href="@{/commboard/list}" class="btn btn-primary btn-lg" id="modifyBtn" th:data-boardno="${detail.boardNo}" th:data-link="${pagingRequestDTO.link}">수정</a>
        <!--<a th:href="@{/commboard/list}" class="btn btn-primary btn-lg" id="modifyBtn" th:data-boardno="${detail.boardNo}" th:onclick="|location.href='/board/modify(boardNo=${detail.boardNo})&${pagingRequestDTO.link}'|">수정</a>-->
        <a th:href="@{/commboard/list}" class="btn btn-primary btn-lg" id="removeBtn" th:data-link="${pagingRequestDTO.link}">삭제</a>
        <!--수정하기, 답글달기 등-->
        <!--<a th:href="@{/commboard/showReplyForm(boardNo=${detail.boardNo},
          ref=${detail.getRef()}, step=${detail.getStep()}, refOrder=${detail.getRefOrder()}, pageNo=${pageNo})}" class="btn btn-primary btn-lg">답글작성</a>-->


      </div>

    </div>
    <div th:onclick="ajaxtest()">ajaxtest</div>
    <!-- 댓글 작성란 -->
    <div class="commentInputArea">
      <input type="text" class="form-control" id="commentContent" placeholder="댓글을 입력하세요">
      <img th:src="@{/images/saveComment.png}" th:onclick="saveComment()" style="cursor: pointer; width:40px">
    </div>
    <div id="commentList"></div>
    <div id="commentPagination"></div>
  </div>



  <!-- Toast -->
  <div id="toastMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!--<img src="..." class="rounded me-2" alt="...">-->
      <strong class="me-auto">알림</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div> <!-- End: Toast -->

  <!-- Modal -->
  <div id="deleteModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form th:action="@{/commboard/removeBoard}" method="post">
          <input type="hidden" name="boardNo" th:value="${detail.boardNo}">
          <input type="hidden" name="pageNo" th:value="${pagingRequestDTO}">
          <input type="hidden" name="pagingSize" th:value="${pagingRequestDTO}">
          <div class="modal-header">
            <h5 class="modal-title">알림</h5>
            <button type="button" class="btn-close closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>[[${detail.boardNo}]]번 글을 정말 삭제하시겠습니까?</p>
          </div>
          <div class="modal-footer">

            <button type="submit" class="btn btn-danger">삭제</button>
            <button type="button" class="btn btn-secondary closeModalBtn" data-bs-dismiss="modal">취소</button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- End: Modal -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/9bef4b10f4.js" crossorigin="anonymous"></script>

</div> <!-- End: fragment="content" -->

<script layout:fragment="script" th:inline="javascript"> // [[${param.xxx}]] 이런거 할려면 th:inline...

let boardNo = [[${param.boardNo[0]}]];
let pageNo = 1;
let currentPageNo = 1;



/* let status = [[${param.status}]]; */
$(function() {

  getAllComments(pageNo);
  getInputCommentContent();
  loadLikeStatus()

  // 좋아요 클릭시,
  $("#heart-icon").click(function() {
    let isLiked = $(this).hasClass("fa-solid");
    let doesLike = isLiked ? 'dislike' : 'like';

    sendBoardLike(doesLike);
  });

  $(document).on("click", ".page-btn", function(e) {
    e.preventDefault();
    let pageNo = $(this).data("page");
    getAllComments(pageNo);
  })

  $("#removeBtn").on("click", function(e) {
    e.preventDefault();
    $("#deleteModal").show();

  });
  $(".closeModalBtn").on("click", function(e) {
    e.preventDefault();
    $("#deleteModal").hide();
  })

  $("#modifyBtn").on("click", function(e) {
    e.preventDefault();
    const boardNo = $(this).data("boardno");
    let link = $(this).data("link");
    let url = "/board/modify?boardNo=" + boardNo;
    if(link) {
      url += `&${link}`;
    }
    location.href = url;
  });

  const urlSearchParams = new URLSearchParams(window.location.search);
  const status = urlSearchParams.get("status");
  console.log(status);
  if(status == "success") {
    $(".toast-body").html("수정완료");
    $("#toastMessage").show();
    // 2초 후에 toast 메시지 닫기
    setTimeout(function() {
      $("#toastMessage").fadeOut();
    }, 3000);
  } else if (status == "failure") {
    $(".toast-body").html("수정실패");
    $("#toastMessage").show();
    // 2초 후에 toast 메시지 닫기
    setTimeout(function() {
      $("#toastMessage").fadeOut();
    }, 3000);
  } else if (status == "authFail") {
    $(".toast-body").html("권한이 없습니다.");
    $("#toastMessage").show();
    setTimeout(function() {
      $("#toastMessage").fadeOut();
    }, 3000);
  }
});

function sendBoardLike(doesLike) {

  let who = preAuth();
  if (who == null) {
    return;
  }
  let boardNo = $("#boardNo").val();
  // boardNo = $("#boardNo").data("boardNo");
  console.log(who, boardNo, doesLike);
  axios.post("/commboard/boardlike", null, {
    params: {
      "who": who,
      "boardNo": boardNo,
      "like": doesLike}
    })
    .then(function (response) {
      console.log(response);
      if(response.data == "success") {
        loadLikeStatus();
      }
    })
    .catch(function (error) {
      console.log(error);
      if(error.response.data == "not-allowed") {
        alert("자기 글에는 로그인 할 수 없어요.");
      }
    });
}

function loadLikeStatus() {

  let boardNo = $("#boardNo").val();
  axios.get(`/commboard/boardlike/status/${boardNo}`)
    .then(function (res) {
      let data = res.data;
      console.log(data);
      if (data.liked) {
        $("#heart-icon").removeClass("fa-regular").addClass("fa-solid");
      } else {
        $("#heart-icon").removeClass("fa-solid").addClass("fa-regular");
      }
      $("#like-count").html(data.count);
      let memberList = data.topLikeMembers;
      let remaining = data.remainingCount;
      console.log(memberList, remaining);
      let output = ``;
      if (memberList.length > 0) {
        if (remaining == 0) {
          output = `${memberList.join(",")}님이 좋아합니다.`;
        } else {
          output = `${memberList.join(",")}님 외 ${remaining}명이 좋아합니다.`;
        }
      } else {
        output = `아직 좋아요한 사람이 없습니다.`;
      }
      $("#like-people").html(output);

    })
    .catch(function (error) {
      console.log(error);
    });
}

function ajaxtest() {
  $.ajax({
    url: `/ajaxtest`,
    type: "post",
    /*contentType: "application/json;charset=UTF-8",
    data: JSON.stringify(commentData),*/
    dataType: "json",
    success: function (res) {
      console.log(res);
    },
    error: function (res) {
      console.log(res);
      if (res.status == 401) {
        location.href = `/member/login?boardNo=${boardNo}`;
      }
    },
    complete: function (res) {
    }
  });
}

function proccessPostDate(regDate) {
  // 댓글 작성일시 : 방금전, n분전, n시간전... 형식으로 출력
  const now = new Date();
  const postDate = new Date(regDate);

  let diff = (now - postDate) / 1000;
  // diff = 60 * 60 * 4;

  // console.log(diff);

  const times = [
    {name : "일", time: 24 * 60 * 60},
    {name : "시간", time: 60 * 60},
    {name : "분", time: 60},
  ]

  for (let val of times) {
    let betweenTime = Math.floor(diff / val.time);
    // console.log(regDate, diff, betweenTime);
    // console.log(betweenTime + val.name + "전");

    if (betweenTime > 0 && val.name != "일") {
      return betweenTime + val.name + "전";
    } else if (betweenTime > 0 && val.name == "일") {
      return postDate.toLocaleString();
    }
  }
  return "방금전";
}

function displayAllComments(commentData) {
  let commentList = commentData.responseDTO.dtoList;
  let loginMemberId = commentData.loginMemberId;
  console.log(loginMemberId);

  let output = `<ul class="list-group">`;
  if(!commentList || commentList.length == 0 ) {
    output+=`<li class="list-group-item">텅</li>`;

  } else {
    commentList.forEach(function (comment) {
      output += `
        <li class="list-group-item" id="comment_${comment.commentNo}">
          <img src="/images/avatar.png" style="width:50px; height:50px; border-radius: 50px;margin-right:15px;">
          <div class="flex-grow-1">
            <div class="fw-bold mb-1">${comment.content}</div>
            <div class="small">${proccessPostDate(comment.regDate)}</div>
          </div>
          <div class="text-end">
            <!--로그인 한 유저이고 작성자인 경우 수정, 삭제 버튼 보이도록-->
          ${(loginMemberId == comment.commenter) ? `<div><span style="cursor: pointer" onclick="showEditComment(${comment.commentNo}, '${comment.content}');">수정</span><span style="cursor: pointer" onclick="removeEditComment(${comment.commentNo})">삭제</span></div>` : ''}
            <div class="small text-secondary">
              ${comment.commenter}
            </div>
          </div>
        </li>
      `;
    });
  }
  output += `</ul>`;
  $("#commentList").html(output);
}

function removeEditComment(commentNo) {
  if (!confirm("정말 이 댓글을 삭제하시겠습니까?")) {
    return;
  } else {
    axios.delete(`/comment/${commentNo}`)
    .then(function (response) {
      console.log(response);
      if(response.data.resultMessage == "SUCCESS") {
        alert("댓글 삭제 완료");
        getAllComments(currentPageNo);

      }
    })
    .catch(function (error) {
      if(error.response.data.resultMessage == "FAIL") {
        alert("댓글 삭제 실패");
      }
      console.log(error);
    });
  }
}

function showEditComment(commentNo, oldContent) {
  alert(commentNo, oldContent);
  const commentItem = document.getElementById(`comment_${commentNo}`);
  commentItem.innerHTML = `
    <div class="flex-grow-1">
      <input type="text" class="form-control" value="${oldContent}" id="editContent_${commentNo}"></input>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-success" onclick="confirmEditComment(${commentNo})">저장</button>
      <button type="button" class="btn btn-secondary" onclick="cancelEditComment()">취소</button>
    </div>
  `;
}


//
function confirmEditComment(commentNo) {
  const newContent = document.getElementById(`editContent_${commentNo}`).value;
  if (!newContent) {
    alert("내용을 입력하세요...");
    return;
  }

  axios.patch(`/comment/${commentNo}`, {
    content: newContent,
  })
    .then(function (response) {
      console.log(response);
      if(response.data.resultMessage == "SUCCESS") {
        alert("<UNK>", pageNo);
        getAllComments(currentPageNo);

      }
    })
    .catch(function (error) {
      if(error.response.data.resultMessage == "FAIL") {
        alert("수정실패");
      }
      console.log(error);
    });
}

function cancelEditComment() {
  getAllComments(currentPageNo);
}

// 페이지네이션
function displayPaginaation(pageData) {
  console.log(pageData);
  // 댓글이 없는 경우
  if(pageData.total == 0) {
    $("#commentPagination").html("");
    return;
  }
  let output = `<ul class="pagination justify-content-center" style="margin:20px 0">`;
  let prevPage = pageData.pageNo > 1 ? pageData.pageNo - 1 : 1;
  // prev 버튼
  output += `
    <li class="page-item ${pageData.pageNo == 1? 'disabled': ''}">
      <a class="page-link page-btn" href="#" data-page="${prevPage}">Prev</a>
    </li>`;
  // 페이지 번호 버튼
  for (let i = pageData.start; i <= pageData.end; i++) {
    let active = pageData.pageNo == i ? "active" : "";
    output += `
      <li class="page-item ${active}">
        <a class="page-link page-btn" href="#" data-page="${i}">${i}</a>
      </li>`;
  }
  // next 버튼
  let nextPage = pageData.pageNo < pageData.end ? pageData.pageNo + 1 : pageData.last;
  output += `
    <li class="page-item ${pageData.pageNo == pageData.last ? 'disabled': ''}">
      <a class="page-link page-btn" href="#" data-page="${nextPage}">Next</a>
    </li></ul>`;
  $("#commentPagination").html(output);
}


function getAllComments(pageNo) {

  currentPageNo = pageNo;

  $.ajax({
    url: `/comment/all/${boardNo}/${pageNo}`,
    type: "GET",
    /*contentType: "application/json;charset=UTF-8",
    data: JSON.stringify(commentData),*/
    dataType: 'json',
    success: function (data) {
      console.log(data);
      console.log(data.resultMessage);
      if (data.resultMessage == "SUCCESS") {
        displayAllComments(data.data);
        displayPaginaation(data.data.responseDTO);
      }

    },
    error: function (data) {
      console.log(data);
    },
    complete: function (data) {
      console.log(data);
    }
  });
}

// 댓글 저장, 수정, 삭제 시 로그인 인증
function preAuth() {
  let commenter = [[${session.loginMember}]];
  console.log(commenter);

  if (commenter == null) {
    location.href = `/member/login?redirectUrl=commboard/viewBoard&boardNo=${boardNo}`;

    // 로컬 스토리지에 댓글 내용 있으면 저장
    let commentContent = $("#commentContent").val();
    if (commentContent != '') {
      localStorage.setItem("commentContent", commentContent);

    }
    return null;
  } else {
    console.log("로그인된 사용자 ID", commenter.memberId);
    return commenter.memberId;
  }
}

function saveComment() {
    // let boardNo = $("#boardNo").val();
    let commenter = preAuth();
    let content=$("#commentContent").val();
    console.log(boardNo + "저장하자");

    if (commenter == null) {
      return;
    }

    let commentData = {
      content : content,
      commenter: commenter
    };

    $.ajax({
      url: `/comment/${boardNo}`,
      type: "POST",
      contentType: "application/json;charset=UTF-8",
      data: JSON.stringify(commentData),
      dataType: 'json',
      success: function (res) {
        console.log(res);
        if (res.resultMessage == "SUCCESS") {
          // 저장완료
          $("#commentContent").val("");
          getAllComments(pageNo);
        }
      },
      error: function (res) {
        console.log(res);
      },
      complete: function (res) {
        console.log(res);
      }
    });
  }

// 페이지 로드되면 호출됨,
function getInputCommentContent() {
  let commentContent = localStorage.getItem("commentContent");
  if (commentContent != null || commentContent != "") {
    $("#commentContent").val(commentContent);
    localStorage.removeItem("commentContent");
  }
}


</script>
</body>
</html>