.file-preview {
  position: relative;
  margin: 10px;
  border: 1px solid gray;
  width: 120px;
  text-align: center;
  display: inline-block;
}
.file-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
}
.file-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background: rgb(255, 233, 233);
  border-radius: 50%;
  padding: 2px 7px;
  cursor: pointer;
}