<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproj.mapper.CommentBoardMapper">
  <resultMap id="BoardDetailMap" type="com.miniproj.domain.HBoardDetailInfo">
    <id property="boardNo" column="boardNo" />

    <result property="title" column="title" />
    <result property="content" column="content" />
    <result property="postDate" column="postDate" />
    <result property="readCount" column="readCount" />
    <result property="ref" column="ref" />
    <result property="step" column="step" />
    <result property="refOrder" column="refOrder" />
    <result property="isDelete" column="isDelete" />

    <association property="writer" javaType="com.miniproj.domain.MemberVO">
      <id property="memberId" column="writer" />
      <result property="memberName" column="memberName" />
      <result property="email" column="email" />
    </association>

    <collection property="upfiles" ofType="com.miniproj.domain.BoardUpFilesVODTO">
      <id property="fileNo" column="fileNo" />
      <result property="originalFileName" column="originalFileName" />
      <result property="newFileName" column="newFileName" />
      <result property="thumbFileName" column="thumbFileName" />
      <result property="isImage" column="isImage" />
      <result property="ext" column="ext" />
      <result property="size" column="size" />
      <result property="boardNo" column="boardNo" />
      <result property="base64" column="base64" />
      <result property="filePath" column="filePath" />
    </collection>
  </resultMap>

  <select id="selectBoardDetailInfoByBoardNo" resultMap="BoardDetailMap">
    select
    h.boardNo, h.title, h.content, h.writer, h.postDate, h.readCount, h.ref, h.step, h.refOrder, h.isDelete,
    f.*, m.memberName, m.email from hboard h
    left outer join boardupfiles f on h.boardNo = f.boardNo
    inner join member m on h.writer = m.memberId
    where h.boardNo = #{boardNo} and boardType = 'cboard';
  </select>


  <!--핑크: #dd4a68-->



  <sql id="search">
    <where>
      boardType = 'cboard'
      <if test="types != null and types.size > 0">
        AND (
        <foreach item="type" collection="types" separator=" OR ">
          <choose>
            <when test="type == 't'.toString()">
              title like concat('%', #{keyword}, '%')
            </when>
            <when test="type == 'c'.toString()">
              content like concat('%', #{keyword}, '%')
            </when>
            <when test="type == 'w'.toString()">
              writer like concat('%', #{keyword}, '%')
            </when>
          </choose>
        </foreach>
        )
      </if>
    </where>
  </sql>

  <select id="selectListWithSearch" resultType="HBoardVO">
    SELECT * FROM hboard
    <include refid="search" />
    ORDER BY ref DESC, refOrder ASC LIMIT #{skip}, #{pagingSize}
  </select>

  <select id="selectTotalCountWithSearch" resultType="int">
    SELECT count(*) FROM hboard
    <include refid="search" />
  </select>


</mapper>